@media only screen and (max-width: 600px) {  /*phones*/
    .container{
        background-image: linear-gradient(to bottom, green 15%,white, green);
    }
}

@media only screen and (min-width: 601px) and (max-width: 767px) {  /*potrait tablets or large phones*/
    .container{
        background-image: linear-gradient(to bottom, blue 15%,white, blue);
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {  /*landscape tablets*/
    .container{
        background-image: linear-gradient(to bottom, yellow 15%,white, yellow);
    }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {  /*laptops/desktops*/
    .container{
        background-image: linear-gradient(to bottom, black 15%,white, black);
    }
}

@media only screen and (min-width: 1200px) {  /*large laptops and desktops*/
    .container{
        background-image: linear-gradient(to bottom, red 15%,white, red);
    }
}



/*
body{
    background-color : black;
    text-transform: capitalize;
    color:black;
    text-shadow: 0px 0px 2px red, -2px -2px 4px white , -4px -4px 6px black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    background-image: linear-gradient(to bottom, red 15%,white, red);
    border-radius: 20px;
    background-repeat: no-repeat;
    background-size: 500px 670px;
    height: 600px;
    width: 500px;
    object-fit:fill;
    padding-bottom:50px;
}

.title{
    text-align: center;
    font-size: 40px;
}   

::selection{
    background-color: black;
    color:red;
    text-shadow: none;
}

hr{
    height: 5px;
    background-color: black;
}

div.container1, div.container2{
    width: 80%;
    position: relative;
    margin:0 auto;
}

div.button{
    text-align: center;
    width: 77.5%;
    margin:10px auto;
    padding:5px 0px;
    border:5px solid rgb(37, 34, 34);
    background-color: black;
    background-image: url("freccia.png");
    background-size: contain;

}

input{
    width: 20%;
    height: 25px;
    font-size: 15px;
}

button{height: 30px;}

input, select, button{
    background-color: black;
    color :white;
}

button:hover, input:hover, select:hover{background-color: rgb(37, 34, 34);}
    
input:active{
    background-color: rgb(37, 34, 34);
}*/

