body{
    background-color: black;
}

fieldset{
    background-color: green;
    color : black;
}

h1{
    color:red;
}

hr{
    color: black;
}

.container, .button, h1{
    display: flex;
    justify-content: center;
    align-items: center;
}

input, select{
    background-color: black;
    color :white;
}

input{
    width: 10%;
}

input:hover, select:hover, button:hover{
    background-color: red;
    color :black;
}